<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fraud detection</title>
    <style>
        body {
            font-family: arial, verdana, Sans-Serif;
        }
        .trustworthy {
            font-weight: bold;
            color: green;
            margin-bottom: 1rem;
        }
        .fraud {
            font-weight: bold;
            color: red;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
    <h1>Fraud detection</h1>
    <form method="post">
        <label for="text_to_check">Enter the text to check:</label><br>
        <textarea name="text_to_check" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Submit">
    </form>
    {% if response %}
    <h2>Your Input:</h2>
    <p>{{ request.form['text_to_check'] }}</p>
    <h2>Response:</h2>
     <p class="response">
        {% if "Category: Trustworthy" in response %}
            Category:<br><span class="trustworthy">Trustworthy</span><br>
            {{ response.replace("Category: Trustworthy", "") }}
        {% elif "Category: Fraud" in response %}
            Category:<br><span class="fraud">Fraud</span><br>
            {{ response.replace("Category: Fraud", "") }}
        {% else %}
            {{ response }}
        {% endif %}
    </p>
    {% endif %}
</body>
</html>